<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
 </head>

 <body>
<p id="divCounter"></p>

<script type="text/javascript">
window.localStorage.removeItem("counter");

</script>

 <form action="/start" method="post">
 <br>
 <select name="Pub">
  <option value="OG" selected="selected">OG</option>
  <option value="KA">KA</option>
  <option value="PR">PR</option>
</select> <br>
 <select name="Book">
  <option value="VR" selected="selected">VR</option>
  <option value="QA">QA</option>
  <option value="AL">AL</option>
</select> <br>
 <select name="Year">
  <option value="15" selected="selected">2015</option>
  <option value="16">2016</option>
  <option value="17">2017</option>
  <option value="18">2018</option>
</select> <br>
  <select name="Section">
  <option value="SC" selected="selected">SC</option>
  <option value="RC">RC</option>
  <option value="CR">CR</option>
  <option value="QT">QT</option>
</select> <br>
<input name="q_count" value="4" type="text"><br>

  <input name="Submit" value="Start" type="submit">
</form>
<input name="report" value="Report" type="button" onClick="this.href='{{url_for('index')}}'">

</body></html>
